.dc-chart g.row text {
    fill: black;
}

.dc-chart text.pie-slice {fill: black;}

#travelDashboard {padding-top:40px;}
#citizenshipType {padding-top:40px;}
#worldMap {padding-top:40px;}
#foodPriceIndex {padding-top:40px}
#seriousInjuries {padding-top:40px;}
#incomeAndWork {padding-top:40px;}

#loader {
    position: absolute;
    z-index: 1;
    background-color: #000;
    color: #fff;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#spinner {
    border: 40px solid #22344b;
    border-top: 40px solid #1E90FF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden#loader {
    display: none;
}